@font-face {
  font-family: "iconfont"; /* Project id 3840361 */
  src: url('iconfont.woff2?t=1672644507314') format('woff2'),
       url('iconfont.woff?t=1672644507314') format('woff'),
       url('iconfont.ttf?t=1672644507314') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiatupian:before {
  content: "\e636";
}

.icon-lixian:before {
  content: "\e73e";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-xihuan1:before {
  content: "\e86f";
}

.icon-account:before {
  content: "\e615";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-account1:before {
  content: "\e655";
}

.icon-zhuanfa:before {
  content: "\e609";
}

.icon-searchfill:before {
  content: "\e742";
}

.icon-fenxiang:before {
  content: "\e634";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-email:before {
  content: "\e74f";
}

.icon-email-fill:before {
  content: "\e77e";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-likefill:before {
  content: "\e668";
}

.icon-close:before {
  content: "\e69a";
}

.icon-notice:before {
  content: "\e63e";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-zhuye:before {
  content: "\e625";
}

.icon-pinglun:before {
  content: "\e603";
}

.icon-notice1:before {
  content: "\e6cc";
}

