* {
  margin: 0;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
* button {
  background-color: #fff;
  transition: all 0.2s;
}
* button:hover {
  opacity: 0.8;
}
* button:active {
  opacity: 1;
}
html::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: #add8e6;
  color: #000;
}
:root {
  --primary-bg: #282c35;
  --primary-fg: #fff;
  --secondary-bg: #1e2129;
  --secondary-fg: #aaa;
  --primary-btn-bg: #ddd;
  --primary-btn-fg: #222;
  --secondary-btn-bg: #780404;
  --secondary-btn-fg: #baba6a;
}
